.aboutus{
    background-image: url('aboutimg.jpg');
    background-size: cover;
    height: 300px;
    width: auto;
  
}
.About{
    margin-bottom: -20rem;
}
.wedesignfur{
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.wedesign{
    color: #B18B5E;
}
.progress-bar{
    background-color:#B18B5E;
    border-radius:10px;
}
.range{
    color: #B18B5E;
}
.divisions{
    color: #848484;
}
.imagvideo{
    background-image: url('about-video-image.jpg');
    background-size: cover;
    width: auto;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
 
 }
 .imagvideobutton{
     width: 6rem;
     height: 6rem;
     border-radius: 50%;
     border: none;
     background-color: white;
 
 }
 .imagvideobutton:hover{
     background-color: #B18B5E;
     color: white;
 }

